{% extends 'base.html' %}

{% block content %}
<div class="card-body">
    <div class="create"
        <div class="card">
            <h1><b>Create Student</b></h1>
            <form method="post">
                {% csrf_token  %}
                <p>{{form.as_p}}</p>
                <input type= submit value="Create" class="btn btn-success">
            </form>
            </div>
    </div>
    <h1 ><b>Student List</b></h1>
        {% for item in items %}
        <div class="card">
            <div class="card-body">
            <p><b>Student Name:</b> {{item.name}}</p>
            <p><b>Roll Number:</b> {{item.roll_no}}</p>
            <p><b>Subjects:</b> {{item.subject_1}}, {{item.subject_2}}, {{item.subject_3}}, {{item.subject_4}}</p>
            <a href="{% url 'apiupdate_student' item.roll_no %}" class="btn btn-info">Update</a>
            </div>
        </div><br>
        {% empty %}
            <h3 style="text-align:center;">No student Database available</h3>
        {% endfor %}

{% endblock %}
</div>